<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/attendancetable.css">
</head>
<body>

    <header>
        <nav>
            <ul>
                <li><a href="/supervisor">HOME</a></li>
                <li class="login"><a href="/logout">LOG OUT</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <table>
            <thead>
                <tr>
                    <th>Employee Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Days Absent</th>
                    <th>Standard Hours</th>
                    <th>Overtime Hours</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <% data.forEach(att => { %>
                        <td><%= att.Firstname%> &nbsp;<%= att.Lastname%> </td>
                        <td><%= att.PayStart%></td>
                        <td><%= att.PayEnd %> </td>
                        <td><%= att.DaysAbsent %> </td>
                        <td><%= att.StandardHours %> </td>
                        <td><%= att.OvertimeHours%></td>
                        <td>
                            <button><a href="/supervisor/attendanceEdit/<%= att.ID %> ">Edit</a></button>
                            <button class="salary"><a href="#">Calculate Salary</a></button>
                        </td>
                    <% }); %>
                </tr>
            </tbody>
        </table>
    </main>
    
</body>
</html>